html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* search icon in navbar */
.custom-search-input {
    position: relative;
}

.custom-search-input input[type="search"] {
    padding-left: 2em; /* Space for the icon */
}

.custom-search-input .icon {
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translateY(-50%);
}

/* listing icons gap */
.icons-group {
    margin-right: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}

/* register/login page */
.divider-text:before,
.divider-text:after {
    color: white;
    content: "";
    flex: 1;
    border-bottom: 1px solid #555;
    margin: auto 0.25rem;
    box-shadow: 0 -2px;
}

.custom-card-width {
    max-width: 60%; /* Adjust the width value as needed */
    margin: 0 auto; /* Center the card horizontally */
}